// @import './keyframes.scss';

// .anim-on //use only if you need to use cycle
.container {
  animation-name: anim, fade;
  animation-duration: 1s, 1s;
  animation-delay: 1s, 9s;
  animation-timing-function: linear, linear;
  animation-fill-mode: forwards, forwards;
}
